[Desktop Entry]
Encoding=UTF-8
Name=Link to GATE 2021 Official Website - Important Dates
Type=Link
URL=https://gate.iitb.ac.in/impdate.php
Icon=text-html
Name[en_IN]=Link to GATE 2021 Official Website - Important Dates 30 Sept
